{#
/**
 * @file
 * Default theme implementation to display a one-column layout.
 *
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'layout',
    'layout--onecol',
    'layout--header'
  ]
%}
{% if content %}
  <div{{attributes.addClass(classes)}}>
    <div class="layout-content layout-header-content container">
      <div {{ region_attributes.content.addClass('layout__header layout__region', 'layout__region--content') }}>
        {{ content.content }}
      </div>
    </div>
  </div>
{% endif %}
