<div id="footer-wrapper"><div id="footer-inside">

<div class="container">
<div class="row">
<div class="col">
          <a href="/" title="Home" rel="home" id="footer_logo"><img src="https://www.pitt.edu/sites/all/themes/pitt/images/pitt_edu_logo.png" alt="Home"></a>
          	<article id="footer-address" class="node-20 node node-block view-mode-full block-type-none clearfix" about="/block/footer-logo" typeof="sioc:Item foaf:Document">
 		<figure>
        	        </figure>
        
        <header>
                		</header>
        
        <section>
        	<div class="footer_section1"><p>4200 Fifth Avenue<br>Pittsburgh, PA 15260<br>412-624-4141</p></div><p>&nbsp;</p>        </section>

 </article><!-- /.node -->
</div>
<div class="col-3">
    <div id="block-block-7" class="block block-block first odd">

      
  <p><a class="social_title" href="/social">Social Media Directory</a></p>
<ul class="footer_social" style="float: none;">
<li><a title="Facebook" href="http://www.facebook.com/upitt" target="_blank"><span class="fa fa-facebook" aria-hidden="true"></span></a></li>
<li><a title="Instagram" href="https://www.instagram.com/pittofficial/" target="_blank"><span class="fa fa-instagram" aria-hidden="true"></span></a></li>
<li><a title="Twitter" href="https://twitter.com/PittTweet" target="_blank"> <span class="fa fa-twitter" aria-hidden="true"></span></a></li>
<li><a title="Youtube" href="http://www.youtube.com/user/pittweb" target="_blank"><span class="fa fa-youtube" aria-hidden="true"></span></a></li>
</ul>

</div>
</div>
</div>
<div class="row">
<div class="col">
  	  <footer id="footer" class="region region-footer">

<div id="block-nodesinblock-4" class="block block-nodesinblock last even">

      
  <div class="nodesinblock first odd" id="nodesinblock-20">


<!-- IMAGE ONLY BLOCK ---------------------------------------- --> 

</div><div class="nodesinblock last even" id="nodesinblock-4455">


<!-- IMAGE ONLY BLOCK ---------------------------------------- --> 
	<article class="node-4455 node node-block view-mode-full block-type-none clearfix" about="/block/footer-links-0" typeof="sioc:Item foaf:Document">
 		<figure>
        	        </figure>
        
        <header>
                		</header>
        
        <section>
        	<div class="list-column" style=""><h3>Key Resources</h3><ul><li><a href="/contact">Contact Us</a></li><li><a href="http://www.tour.pitt.edu">Campus Tour</a></li><li><a href="https://my.pitt.edu">my.pitt.edu</a></li><li><a href="http://find.pitt.edu">Find People</a></li><li><a href="http://pittdayofgiving.com">Giving</a></li><li><a href="http://www.provost.pitt.edu/information-on/calendar.html">Academic Calendar</a></li><li><a href="https://www.chancellor.pitt.edu">Office of the Chancellor</a></li><li><a href="http://www.pitt.edu/about/general-info">Consumer Information/<br>Student Achievement</a></li></ul><h3>Information for</h3><ul><li><a href="/prospective-students">Prospective Students</a></li><li><a href="/students">Students</a></li><li><a href="/parents">Parents</a></li><li><a href="/alumni">Alumni</a></li><li><a href="/faculty">Faculty</a></li><li><a href="/staff">Staff</a></li></ul></div><div class="list-column" style=""><h3>Schools</h3><ul><li><a href="http://www.as.pitt.edu">Arts &amp; Sciences</a></li><li><a href="https://www.business.pitt.edu/">Business</a></li><li><a href="https://sci.pitt.edu/">Computing &amp; Information</a></li><li><a href="http://www.dental.pitt.edu">Dental Medicine</a></li><li><a href="http://www.education.pitt.edu">Education</a></li><li><a href="http://www.engineering.pitt.edu">Engineering</a></li><li><a href="https://www.cgs.pitt.edu/">General Studies</a></li><li><a href="http://www.shrs.pitt.edu">Health &amp; Rehab</a></li><li><a href="http://www.honorscollege.pitt.edu">Honors College</a></li><li><a href="http://www.law.pitt.edu">Law</a></li><li><a href="https://www.medschool.pitt.edu">Medicine</a></li><li><a href="http://www.nursing.pitt.edu">Nursing</a></li><li><a href="http://www.pharmacy.pitt.edu">Pharmacy</a></li><li><a href="http://www.gspia.pitt.edu">Public &amp; Intl Affairs</a></li><li><a href="http://www.publichealth.pitt.edu">Public Health</a></li><li><a href="https://www.socialwork.pitt.edu">Social Work</a></li></ul></div><div class="list-column" style=""><h3>Regional Campuses</h3><ul><li><a href="http://www.upb.pitt.edu">Bradford</a></li><li><a href="http://www.greensburg.pitt.edu">Greensburg</a></li><li><a href="https://www.johnstown.pitt.edu">Johnstown</a></li><li><a href="https://www.upt.pitt.edu">Titusville</a></li></ul><h3>Workplace</h3><ul><li><a href="https://www.join.pitt.edu/">Careers</a></li><li><a href="https://cfopitt.taleo.net/careersection/pitt_faculty_external/jobsearch.ftl?lang=en&amp;portal=12100023232">Faculty Positions</a></li><li><a href="https://cfopitt.taleo.net/careersection/pitt_staff_external/jobsearch.ftl?lang=en&amp;portal=14200023232%20">Staff Positions</a></li><li><a href="http://www.hr.pitt.edu">Human Resources</a></li><li><a href="http://www.diversity.pitt.edu/">Diversity</a></li><li><a href="http://www.pittuniversitystore.com/home.aspx">The University Store on Fifth</a></li><li><a href="https://www.at.pitt.edu/">@Pitt</a></li><li><a href="http://www.utimes.pitt.edu/">University Times</a></li></ul></div><div class="list-column" style=""><h3>Libraries</h3><ul><li><a href="http://www.library.pitt.edu/libraries/hours/all.html">Library Hours</a></li><li><a href="/taxonomy/term/765">Libraries Overview</a></li><li><a href="http://pittcat.pitt.edu/cgi-bin/Pwebrecon.cgi?DB=local&amp;PAGE=hbSearch">Search PITTCat</a></li></ul><h3>Technology</h3><ul><li><a href="http://www.technology.pitt.edu">Technology</a></li><li><a href="http://www.technology.pitt.edu">Computing Services</a></li><li><a href="http://www.cidde.pitt.edu">Education Services</a></li><li><a href="http://technology.pitt.edu/help.html">Help Desk</a><br><br>&nbsp;</li><li><a href="https://www.diversity.pitt.edu/accessibility-statement">Accessibility Statement</a><br>&nbsp;</li></ul></div><p>&nbsp;</p>        </section>

 </article><!-- /.node -->
</div>
</div>
  </footer><!-- region__footer -->
  </div>
</div></div>
  </div></div>