@import 'variables.scss';




//overall search form 
header #search-block-form {
  background: $pitt-gold;
  padding: 0; 
  @media $desktop {
    padding: 20px 15px;
  }
  //reset 
  .form-group {
    margin: 0;
    padding: 0;
  }
  .form-control {
    font-size: 1.5rem;
    border-color: $bright-blue;
    background: none;
    border-radius: 0;
    @media $tablet {
      min-width: 300px;
    }
  }
  .btn {
    @include smallcaps;
//     font-size: 1.5rem;
//     color: $pitt-blue;
    font-weight: bold;
//     background: none; 
    border-color: $bright-blue;
    border-width: 1px 1px 1px 0;
    border-radius: 0;
//     margin-left: 20px;
    padding: 6px 10px;
    &:hover {
      background: $pitt-blue;
    }
  }
  .search-button {
    @include fontawesome;
    font-weight: 900;
    background: none;
    border: none;
  }
}
/*
#block-searchbutton {
  display: none;
  @media $tablet {
    display: block;
  }
}
*/

//search form "tray"
header #block-searchform {
  position: absolute;
  top: 0;
  right: 20px;
@media $tablet {
  right: 20px;
  top: 58px;
  }
}

// show/hide button
#block-searchbutton {
  width: auto;
  margin-left: 20px;
  float: right;
}
#searchicon, #searchicon-close {
  color: #fff;
  text-align: center;
  display: block;
  height: 48px;
  width: 50px;
  line-height: 1;
  font-size: 2.0rem;
//   border: 3px solid $gray;
border: none;
  border-radius: 0%;
//   background: $bright-blue;
background: none;
  span {
//    font-size: 1.2rem;
   display: block;
  }
  &:hover {
    cursor: pointer;
  }
  &:focus {
    outline-width: 1px;
    outline-style: dotted;
  }
}
#searchicon-close {
  color: $pitt-blue;
  background: $pitt-gold;
}

// in-menu search box
#block-searchform-2 {
  width: 100%;
  margin-bottom: 30px;
  .search-form {
    background: #363636;
    padding: 10px;
    margin: 0 0 30px;
    .form-group.form-type-search {
        float: left;
        width: 90%;
      .form-control {
        background: transparent;
        border: none;
        font-size: 3.0rem;
        color: #fff;
        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
          color: $gray;
        }
        &::-moz-placeholder { /* Firefox 19+ */
          color: $gray;
        }
        &:-ms-input-placeholder { /* IE 10+ */
          color: $gray;
        }
        &:-moz-placeholder { /* Firefox 18- */
          color: $gray;
        }
      }
    }
    .search-button {
      float: right;
      font-size: 4.0rem;
      display: block;
      color: $gray;
      
    }
  }
}

// home-specific search
.home_search {
  .search-form {
    background: $gray;
    padding: 15px;
    margin: 40px;
      .form-group.form-type-search {
          float: left;
          width: 90%;
        .form-control {
          background: transparent;
          border: none;
          font-size: 4.0rem;
          color: #fff;
          &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            color: #fff;
          }
          &::-moz-placeholder { /* Firefox 19+ */
            color: #fff;
          }
          &:-ms-input-placeholder { /* IE 10+ */
            color: #fff;
          }
          &:-moz-placeholder { /* Firefox 18- */
            color: #fff;
}
        }
      }
      .search-button {
        float: right;
        font-size: 6.0rem;
        display: block;
        
      }
    }
  }
  
  
//mobile adjustments :always visible
  @media only screen and (max-width : $screen-sm-max) {
  header #search-block-form {
    display: flex !important;
  }

  header #block-searchform {

  }
}
  