//top widgets, when present 
.field--name-field-widget-top {
  margin-bottom: 25px;
  @include tablet {
    margin-bottom: 35px;
  }
  @include wide {
    margin-bottom: 50px;
  }
}
.bg_tan {
  color: #000;
  background: $pitt-tan;
  margin-bottom: 60px;
  @include tablet {
    padding: 55px 0 65px;
  }
  @include desktop {
    padding: 110px 0 130px;  
  }
  @include wide {
    padding: 110px 0 130px
  }
  a {
   color: $bright-blue-bg; 
  }
}

.bg_torn_gray {
  color: #000;
  background: $gray-light;
  position: relative;
//no more torn edge; class remains

/*
  &:before, &:after {
    content: "";
    height: 50px;
    width: 100%;    
    display: block;
    position: absolute;   
    left: 0;
    right: 0; 
  }
  &:before {
    background: url(../img/grit_top.png) repeat-x center center;
    top: -24px;
    background-size: cover;
  }
  &:after {
    background: url(../img/grit_bottom.png) repeat-x bottom left;
    bottom: 0;
    background-size: cover;
  }
*/
  a {
   color: $bright-blue-bg; 
  }
  // when inside the main column
  .block-system-main-block & {
    padding: 50px 0 75px;
    margin-bottom: 40px;
    @include desktop {
      padding: 50px 50px 100px;
    }
  }
  // when in the full-width
  .region-full-bleed & {
     padding: 50px 0 62px;
    @include desktop {
      padding: 75px 0 94px;
    }
    @include wide {
      padding: 100px 0 125px;
    }
  }
}

/*** icons ***/
.paragraph--type--icon-set,
.paragraph--type--icon-set-top {
  padding: 50px 0;
  @include tablet {
    padding: 50px 0 100px;
  }
  @include desktop {
    padding: 50px 0 100px;
  }
  @include wide {
    padding: 50px 0 100px;
  }
  @include wider {
    padding: 125px 0 175px;
  }
  &.bg_torn_gray {
    padding: 50px 0;
    @include tablet {
      padding: 50px 0 100px;
    }
    @include desktop {
      padding: 50px 0 100px;
    }
    @include wide {
      padding: 50px 0 100px;
    }
    @include wider {
      padding: 125px 0 175px;
    }
  }
  .field--name-field-widget-top & {
    padding: 0 50px;
    @include wider {
      padding: 0 75px;
    } 
  }
  > div {
    @include make-container;
  }
  //title and/or intro 
  .icon_text {
    margin-bottom: 35px;
    @include tablet {
      margin-bottom: 52px;
    }
    @include desktop {
      margin-bottom: 52px;
      padding-left: 30px;
      padding-right: 30px;
    }
    @include wide {
      margin-bottom: 73px;
    }
    @include wider {
      margin-bottom: 90px;
    }
  }
  .field--name-field-title {
    @include heading2;
    margin-bottom: 1em;
  }
  .field--name-field-text {
    margin-bottom: 0;
    p:last-child {
      margin-bottom: 0;
    }
  }
}
.field--name-field-icon-item,
.field--name-field-icon-top {
  margin-top: 20px;
  @include tablet {
    @include flex-parent;
    @include flex-justify-between;
    gap: 25px;
  }

  > .field__item {
    text-align: center;
    margin-bottom: 30px;
    color: $pitt-blue-dark;
    width: 100%;
    @include tablet {
      margin-bottom: 0;
    } 
    a {
      color: $pitt-navy;    
      .far, .fas, .fal {
        color: $pitt-blue;
        &:hover {
          color: $bright-blue;
        }      
      }
    }
    .field--name-field-icon-label {
      font-size: 2.0rem;
      margin-top: .25em;
      @include tablet {
        font-size: 1.6rem;
      }
      @include desktop {
        font-size: 1.8rem;
      }
      @include wide {
        font-size: 2.0rem;
      }
      @include wider {
        font-size: 2.6rem;
      }
    }
    .far, .fas, .fal {
      font-size: 10.5rem;
      margin-bottom: .125em;
      //defaults to smallest size for 5-across
      @include tablet {
        font-size: 6.25rem;
      }
      @include desktop {
        font-size: 7.5rem;        
      }
      @include wide {
        font-size: 10.5rem;      
      }
      @include wider {
        font-size: 13.0rem;
      }
      .paragraph--type--icon-set-4 & {
        @include tablet {
          font-size: 8.5rem;
        }
        @include desktop {
          font-size: 10rem;        
        }
        @include wide {
          font-size: 12.5rem;      
        }
        @include wider {
          font-size: 17.0rem;
        }
      }
      .paragraph--type--icon-set-3 & {
        @include tablet {
          font-size: 9.5rem;
        }
        @include desktop {
          font-size: 13.5rem;        
        }
        @include wide {
          font-size: 15.0rem;      
        }
        @include wider {
          font-size: 18.5rem;      
        }
      }
    }
    .field--name-field-icon-label {
      font-weight: bold;
    }
  }
}

.block-paragraph-blocks {
  h2.block-title {
    @include smallcaps;
    .page-node-type-home-layout-page &{
      @include make-container-onecol;
    }
  }
}

/*** stats ***/
.paragraph--type--stat-set {
  padding: 50px 0 100px;
//   margin-bottom: 40px;
  > div {
    @include make-container;
  }
  .field--name-field-title {
    @include heading2;
    margin-bottom: 1em;
  }
    .field--name-field-text {
    margin-bottom: 2em;
  }
  .field--name-field-stat-item {
    @include desktop {
      @include flex-parent;
      @include flex-justify-between;
      gap: 25px;
    }
    > .field__item {
      text-align: center;
      margin-bottom: 2em;
      @include desktop {
        width: 100%;
        margin-bottom: 0;
      }

      //small symbol or word before the number 
      .field--name-field-stat-number,
      .field--name-field-stat-preface {
        color: $pitt-blue;    
        font-weight: 700;        
         font-family: $display_font;
     }
      .field--name-field-stat-preface {
        vertical-align: super;
        margin-right: 0.125em;
      }
      //fallback for sites without stat group
      .paragraph--type--stats > .field--name-field-stat-number {
        font-size: 6.0rem;
        @include tablet {
          font-size: 6.0rem;
        }
        @include desktop {
          font-size: 6.4rem;
        }
        @include wide {
          font-size: 8.0rem;
        }
      }
      .stat_group {
        display: flex;
        justify-content: center;
        line-height: 1;
        font-size: 6.0rem;
        @include tablet {
          font-size: 6.0rem;
        }
        @include desktop {
          font-size: 6.4rem;
        }
        @include wide {
          font-size: 8.0rem;
        }
        .field--name-field-stat-preface {
          font-size: .583em;
        }
      }
      .field--name-field-stat-description {
        color: $pitt-blue-dark;
        font-weight: bold;
        margin-top: .25em;
        @include tablet {
          font-size: 1.6rem;
        }
        @include desktop {
          font-size: 1.8rem;
        }
        @include wide {
          font-size: 2.0rem;
        }
        @include wider {
          font-size: 2.6rem;
        }
      }
    }
  }
}
.paragraph--type--stat-set-1,
.paragraph--type--stat-set-2,
.paragraph--type--stat-set-3  {
  .field--name-field-stat-item > .field__item {
    .stat_group {
      @include tablet {
        font-size: 8.0rem;
      }
      @include desktop {
        font-size: 10.0rem;
      }
      @include wide {
        font-size: 12.0rem;
      }
    }    
  }
}

// embed widget 
.paragraph--type--embed-code{
  @include make-container;  
}

//homepage display quote
.paragraph--type--home-display-text {
  @include make-container-onecol-p0;
  color: $pitt-blue-dark;
  margin: 40px 30px 50px;
  @include tablet {
    margin: 60px auto 75px;
  }
  @include desktop {
    margin-top: 70px;
    margin-bottom: 100px;
  }
  @include wide {
    margin-top: 90px;
    margin-bottom: 125px;
  }
  .field--name-field-title {
    @include smallcaps;
    margin-bottom: 2em;
  }
  .field--name-field-body {
    @include heading2;
    font-family: $serif;
    font-weight: normal;
    @include desktop {
      font-size: 3.25rem;
    }
    p {
      line-height: 1.35 !important;
    }
  }
}

//single item feature 
.paragraph--type--single-item-feature {
  position: relative;   
  background: url(../img/bg_grit_white_gold.jpg) no-repeat center right;
  background-size: contain;
    margin-bottom: 40px;
  @include tablet {
    padding: 50px 0;
    &:after {
      content: "";
      background-color: $pitt-gold;
      position: absolute;
      left: 0;
      top: 0;
      width: 52%;
      height: 100%;
      display: block;
      z-index: 0;
    }
  }
  @include desktop {
    margin-bottom: 60px;
  }
  @include wide {
    margin-bottom: 80px;
  }
  .single_item_highlight_inner {
    @include make-container-onecol;
    background-color: $pitt-gold;

    @include tablet {
      @include flex-parent;
      flex-direction: row-reverse;
        background-color: transparent;
        > div {
        @include flex-equal-2;
        align-self: center;
      }
    }
  }
  .single_feature_text {
    padding: 20px;
    position: relative;
    z-index: 1;
    @include tablet {
      padding: 40px 40px 40px 0;
    }
  }
  .field--name-field-feature-title {
    margin-bottom: 0.75em;
    @include desktop {
      font-size: 3.3rem;
    }
  }
  .field--name-field-feature-subtitle {
    @include smallcaps;
    margin-bottom: 2em;
  }
  .field--name-field-text {
    p {
      font-family: $serif;
      @include desktop {
        font-size: 2.6rem;
      }
    }
    a {
      color: $pitt-gray;
      text-decoration: underline;
    }
  }
  .field--name-field-feature-image {
    position: relative;
    z-index: 1;
    flex: 50% 0 0;
    img {
      max-width: 100%;
      height: auto;
    }
  }
}

/*** grids ***/
/*
.grid_group {
  > .field {
    @include make-container;
  }
}
*/

/** home page heroes **/

//common elements 
.paragraph--type--home-hero-large-item,
.paragraph--type--home-hero-medium-item,
.paragraph--type--home-hero-short-item {
  position: relative;
  max-width: 1612px;
  margin: 0 auto;
  .field--name-field-hero-image {
    @include desktop {
      position: relative;
      &:before {
        content: "";
        height: 100%;
        width: 100%;
        position: absolute;
        background: radial-gradient(circle at 20% 90%, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 60%); 
      }
    }
  }
  .hero-caption {
    color: #fff;
    background: $pitt-blue;
    padding-top: 25px;
    padding-bottom: 30px;
    @include desktop {
      color: #fff;
      position: absolute;
      z-index: 2;
      width: 100%;
      background: none;
      bottom: 0;
      padding-bottom: 50px;
    }
    > div { 
      @include make-container;
      text-align: left;
      @include wide {
        > div {
          max-width: 40%;
        }
      }
    }
    .field--name-field-headline {
      @include heading1;
      font-family: $display_font;
      line-height: 1.10;
      margin-bottom: 0.5em;
    }
  }
}
.field--name-field-feature-link {
  > div {
    width: auto;
    display: inline;
    margin-right: 1em;
  }
  a {
    @include readmore;
    background: $pitt-navy;
  }
}

// full-width and tall hero, no text
.paragraph--type--home-hero-large {
}
// full-width and not as tall
.paragraph--type--home-hero-medium {
}

// full-width and the shortest of all (not small, which follows)
.paragraph--type--home-hero-short-item {
}

// no images, just text
.paragraph--type--home-hero-text-only {
  background: $gray-light;
  padding: 40px 0 50px;
  @include tablet {
    padding: 60px 0 75px;
  }
  @include desktop {
    padding: 80px 0 100px;
  }
  @include wide {
    padding: 100px 0 125px;    
  }
  > div {
    @include make-container;
  }
  .field--name-field-title {
    font-weight: bold;
    font-size: 2.5rem;
    margin-bottom: 0.5em;
    @include tablet {
      font-size: 2.5rem;
    }
    @include desktop {
      font-size: 3.0rem;
    }
    @include wide {
      font-size: 3.3rem;    
    }
  }
  .field--name-field-body {
    font-family: $serif;
    font-size: 2.0rem;  
    @include tablet {
      font-size: 2.0rem;      
    }
    @include desktop {
      font-size: 2.4rem;  
    }
    @include wide {
      font-size: 2.6rem;       
    }
    p:last-child {
      margin-bottom: 0.5em;
    }
  }
  .btn--primary {
    margin-right: 1em;
  }
}

// half-width "small" hero
.paragraph--type--home-hero-small {
//  RIP grit
//  background: url(../img/bg_grit_gold_left.jpg) no-repeat center left;
//  background-size: cover;
}
.paragraph--type--home-hero-small-item {
  max-width: 1600px;
  margin: 0 auto;
  @include desktop  {
    @include flex-parent;
    align-items: flex-start;
    > div {
      @include flex-equal-2;
    }
  }
  .field--name-field-hero-image {
    position: relative;
    z-index: 1;
    img {
      width: 100%;
    }
  }
  .hero-small-caption {
    background: $pitt-gold;
    padding: 20px 20px 30px;
/*
    @include tablet {
      min-height: 460px;
    }
*/
    @include desktop {
      padding: 80px 120px 80px 60px; 
      min-height: 530px;
    }
    @include wide {
      padding: 100px 150px 100px 80px;     
      min-height: 550px;
    }
    @include wider {
      min-height: 600px;
      
    }
    @include widest {
      padding: 100px 150px 100px 80px; 
      min-height: 660px;
    }
    a {
      color: $pitt-gray;
      text-decoration: underline;
    } 
    //markup fix
    > .hero-small-caption {
      padding: 0;
    }
  }
  &.block-bg-gray {
      .hero-small-caption {
        background: $gray-light;
      }
    }
/*
  .field--name-field-headline {
    font-family: $display_font;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 0.5em;
    @include tablet {
      font-size: 3.6rem;
    }
    @include desktop {
      font-size: 4.2rem;
    }
    @include wide {
      font-size: 4.8rem;
    }  
  }
  .field--name-field-feature-caption {
    font-family: $serif;
    font-size: 1.8rem;
    @include tablet {
      font-size: 2.0rem;
    }
    @include desktop {
      font-size: 2.4rem;
    }
    @include wide {
      font-size: 3.0rem;
    }  
  }
*/
  .field--name-field-headline {
    @include heading1;
    font-family: $display_font;
    line-height: 1.18;
    margin-bottom: 0.5em;
    @include desktop {
      font-size: 4.5rem;
    }
    @include widest {
      font-size: 5.0rem;
    }
  }

  .field--name-field-feature-caption {
    font-family: $serif;
    @include tablet {
    font-size: 1.6rem;
    }
    @include desktop {
      font-size: 2.4rem;
    }
/*
    @include wider {
      font-size: 3.0rem;
    }
*/
    p {
      margin-bottom: .75em;
      line-height: 1.333;
      &:last-child {
        margin-bottom: 0;
      }
    }
    .readmore {
      margin-top: .75em;
    }
    ul {
      margin-bottom: 0.75em;
      li {
        font-family: $body_font;
        font-size: 1.2rem;
        margin-bottom: 0.5em;
        @include desktop {
          font-size: 1.6rem;
        }
        @include wide {
          font-size: 2.0rem;
        }
      }
    }
  }

}

.paragraph--type--home-hero-half {
  max-width: 1624px;
  margin: 0 auto;
  .paragraph--type--home-hero-half-item {
    @include desktop {
      @include flex-parent;
      > div {
        @include flex-equal-2;
      }
    }
    .hero-caption {
      > div {
        background: $pitt-gold;
        min-height: 90%;
        padding: 20px 20px 30px;
        @include tablet {
          
        }
        @include desktop {
          padding: 80px 120px 80px 60px; 
        }
        @include wide {
          padding: 100px 150px 100px 80px; 
        }
        .field--name-field-feature-title {
          @include heading1;
          font-family: $display_font;
          line-height: 1.18;
          margin-bottom: 0.5em;
        }
        .field--name-field-body {
          font-family: $serif;
          @include tablet {
          font-size: 1.6rem;
          }
          @include desktop {
            font-size: 2.4rem;
          }
          @include wide {
            font-size: 3.0rem;
          }
          p {
            margin-bottom: .75em;
            line-height: 1.333;
            &:last-child {
              margin-bottom: 0;
            }
          }
          .readmore {
            margin-top: .75em;
          }
          ul {
            margin-bottom: 0.75em;
            li {
              font-family: $body_font;
              font-size: 1.2rem;
              margin-bottom: 0.5em;
              @include desktop {
                font-size: 1.6rem;
              }
              @include wide {
                font-size: 2.0rem;
              }
            }
          }
        }
      }
    }
    &.block-bg-gray {
      .hero-caption > div {
        background: $gray-light;
      }
    }
  } 
}

// jump "menu"
.paragraph--type--jump-widget {
  @include make-container-onecol;
  margin: 40px auto 60px;
  position: relative;
  z-index: 1000;
  padding: 0 15px;
  @include desktop {
    max-width: 50%;
  }
  .jump-button {
    font-size: 1.6rem;
    color: $pitt-gray;
    text-align: left;
    position: relative;
//     background: url("../img/select-arrow.png") no-repeat right center $gray-light;
    background: $gray-light;
    background-size: contain;
    padding: .5em 1em;
    display: block;
    border: none;
    border-radius: 0;
    width: 100%;    
    z-index: 2;
    @include desktop {
      font-size: 2.4rem;
    }
    &:after {
      @include fontawesome;
      content: "\f107";
      font-size: 2.0rem;
      color: #fff;
      text-align: center;
      line-height: 40px;
      background: $bright-blue;
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      width: 40px;
      height: 100%;
      border: none;
      @include desktop {
        line-height: 60px;
        width: 60px;
        height: 60px;
        font-size: 3.6rem;
      }
    }
    &.show:after {
      content: "\f106";
    }
  }
  ul.jump-widget-menu {
    font-size: 1.6rem;
    background: $gray-light;
    width: 100%;
    border: none;
    border-radius: 0;
    top: -1px;
    z-index: 1;
    transition: .1s linear;
    @include desktop {
      font-size: 2.4rem;
    }
    li {
      padding: .5em 1em;
      &:hover {
        background: $gray-lighter;
      }
      a {
        width: 100%;
        display: block;
        color: $pitt-navy;
        &:hover {
          color: $bright-blue;
        }
      }
    }
  }
}

//common grid links
.callout_link {
  &.grid_arrows, &.grid_button {
    .btn--primary {
      letter-spacing: normal;
      background: transparent;
      padding: 0;
      text-transform: none;
      font-weight: normal;
      margin: 0;
    }
  }
  &.grid_arrows {
    div, div.btn--primary {
      display: block;
      a {
        @include arrowlink;
        font-family: $serif;
        color: $pitt-blue-dark;
        display: block;
        line-height: 2;
        @include desktop {
          font-size: 1.6rem;
        }
        &:hover {
          color: $bright-blue;
        }
      }
    }
  }
  &.grid_button {
    a {
      @include readmore;
      margin-right: 1em;
    }
  }
}
//override library items
.paragraph--type--from-library {
  .container {
    max-width: 100%;
    padding: 0;
  }
}