// this file is loaded by the callout library only
@import 'variables_bootstrap';
@import 'variables_theme';
@import 'typography';
@import 'mixins';
@import 'breakpoints';

.callout {
     color: #424242;
     background-color: #fff;
}
 .callout-content {
     padding: 36px 25px 75px;
     font-size: 16px;
     position: relative;
}
 .callout-content a.arrow {
     position: absolute;
     left: 25px;
     right: 25px;
     bottom: 24px;
}
 @media (min-width: 1900px) {
     .callout-content {
         font-size: 20px;
    }
}
 .callout-tag {
     margin: 0 0 15px;
     text-transform: uppercase;
}
 .callout-heading {
     color: #00205b;
     margin-bottom: 17px;
}
 .callout-heading {
     font-size: 18px;
}
 @media (min-width: 1900px) {
     .callout-heading {
         font-size: 30px;
    }
}
 .callout-copy {
     margin-bottom: 40px;
     font-size: 16px;
     font-family: "Rubik", sans-serif;
}
 .callout--media {
     display: -ms-grid;
     display: grid;
//      -ms-grid-columns: (50%)[2];
     grid-template-columns: repeat(2, 50%);
     -ms-grid-rows: auto;
     grid-template-rows: auto;
}
 .callout--media > *:nth-child(1) {
     -ms-grid-row: 1;
     -ms-grid-column: 1;
}
 .callout--media > *:nth-child(2) {
     -ms-grid-row: 1;
     -ms-grid-column: 2;
}
 @media (max-width: 767.98px) {
     .callout--media {
         -ms-grid-columns: 100%;
         grid-template-columns: 100%;
         -ms-grid-rows: auto;
         grid-template-rows: auto;
    }
     .callout--media > *:nth-child(1) {
         -ms-grid-row: 1;
         -ms-grid-column: 1;
    }
     .callout--media figure {
         position: relative;
    }
     .callout--media figure img {
         position: relative;
    }
}
 @media (min-width: 768px) {
     .callout--media:nth-of-type(even) .media-item {
         order: 2;
    }
}
 .callout--bar {
     color: #fff;
     background-color: #4d4d4d;
     text-align: center;
}
 .callout--bar .callout-content {
     margin: 0 auto;
     max-width: 85%;
     padding-left: 0;
     padding-right: 0;
}
 .callout--bar .callout-content a {
     color: #fff;
}
 .callout--bar .callout-heading {
     color: #fff;
}
 .callout--bar .callout-copy {
     margin-bottom: 0;
}
 .callout-card-module {
     background: #142554;
}
 .callout-card-module-container {
     width: 100%;
     padding-right: 15px;
     padding-left: 15px;
     margin-right: auto;
     margin-left: auto;
     max-width: 1340px;
}
 .callout-card-module-inner {
     padding: 68px 53px 68px 43px;
}
 @media (max-width: 1199.98px) {
     .callout-card-module-inner {
         padding: 40px 0;
    }
}
 .callout-card-module-title {
     color: #fff;
     margin-bottom: 36px;
}
 .callout-card-module-title {
     font-size: 32px;
}
 @media (min-width: 575px) {
     .callout-card-module-title {
         font-size: calc(32px + 28 * (100vw - 575px) / 1025);
    }
}
 @media (min-width: 1600px) {
     .callout-card-module-title {
         font-size: 60px;
    }
}
 .callout-card-module .callout {
     margin-bottom: 36px;
     min-height: 384px;
}
 @media (max-width: 767.98px) {
     .callout-card-module .callout {
         margin-bottom: 30px;
    }
}
 .layout--article .callout-card-module {
     position: relative;
     z-index: 1;
     margin-left: -86px;
     margin-right: -220px;
}
 @media (min-width: 1200px) {
     .layout--article .callout-card-module {
         margin-left: -19.5%;
         margin-right: -19.5%;
    }
}
 @media (max-width: 991.98px) {
     .layout--article .callout-card-module {
         margin-left: -15px;
         margin-right: -333px;
    }
}
 @media (max-width: 767.98px) {
     .layout--article .callout-card-module {
         margin-left: -15px;
         margin-right: -15px;
    }
}
 @media (max-width: 767.98px) {
     .callout-card-module {
         margin: 0 -15px;
    }
}
 